# Default ignored files
/shelf/
/workspace.xml
/.idea/shelf/Wichtiges_Update_für_Idle-Mechaniken_und_User-Feedback__CORE__-_Offline-Fortschritt_implem1/cookie clicker prestige.png
/.idea/caches/deviceStreaming.xml
/.idea/markdown.xml
/.idea/shelf/Wichtiges_Update_für_Idle-Mechaniken_und_User-Feedback__CORE__-_Offline-Fortschritt_implem4/Prestige Freigeschaltet Smiley Clicker.png
/.idea/shelf/Wichtiges_Update_für_Idle-Mechaniken_und_User-Feedback__CORE__-_Offline-Fortschritt_implem4/Ui idee.jpg
/.idea/shelf/Wichtiges_Update_für_Idle-Mechaniken_und_User-Feedback__CORE__-_Offline-Fortschritt_implem4/Smiley Clicker Prestige System.png
/.idea/deviceManager.xml
