# 📦 Abhängigkeiten und Builds
/node_modules
/dist
/build
/npm-debug.log

# 💻 IDE-Dateien (Android Studio / IntelliJ)
.idea/
*.iml
/shelf/
workspace.xml

# 🛡️ Sicherheits- und sonstige Dateien
google-services.json
*.log
BIG ROAD MAP.docx